{% extends '@accountTemplate/notification/email/common/email.html.twig' %}

{% block content %}
    <row>
        <columns>
            <spacer size="32"></spacer>
            <p class="text-center">
                Your secret code for registration:
            </p><br/>
            <p class="text-center">
                <strong style="font-size: 40px;">{{ notification.secretCode }}</strong>
            </p>
        </columns>
    </row>
{% endblock %}
