{% extends '@accountTemplate/notification/email/common/email.html.twig' %}

{% block content %}
    <row>
        <columns>
            <spacer size="32"></spacer>
            <p class="text-center">
                Your email successfully changed!
            </p>
        </columns>
    </row>
{% endblock %}
