{% extends '@accountTemplate/notification/email/common/email.html.twig' %}

{% block content %}
    <row>
        <columns>
            <spacer size="32"></spacer>
            <h4 class="text-center">
                Hello!
            </h4>
            <p class="text-center">
                Your password successfully updated!
            </p>
        </columns>
    </row>
{% endblock %}
